/*
defining the piano, its keys and hover styles
 */
.pink{
    background: linear-gradient(to bottom,  #ff82d3, #fa6ac6, #ef6bb1, #e300d1, #82086a);
    }

.slider {
    display: -webkit-inline-flex;
    position: inherit;
    justify-content: flex-end;
}
.piano {
    display: flex;
    justify-content: center;
    padding: 20px;
    min-height: 220px;
    margin: auto;
    scale: 1.1;
}

.white-key {
    width: 60px;
    height: 200px;
    background-color: #ff82d3;
    border: 1px solid #333;
    z-index: 1;
    margin: 0;
}

.black-key {
    width: 40px;
    height: 120px;
    background-color: #82086a;
    margin: 0 -20px;
    /* negative margin to overlap with white keys */
    z-index: 2;
}
.pink-txt{
    color: #ff00aa;
    font-style: oblique;
    font-size: 20px;
    text-shadow: #000 0.9px 0.9px 1.4px;
}
.sm-pink-txt{
    color: #ff00aa;
    font-style: oblique;
    font-size: 17.2px;
    text-shadow: #000 0.7px 0.9px 1.1px;
}
.title-txt {
    text-align: center;
    color: #ff00aa;
    font-style: oblique;
    text-shadow: #000 0.5px 0.5px 1px;
    font-size: 60px;
    padding: -90px;
}
.white-key:hover {
    background-color: #ffc2e9;
    transition: background-color 0.2s;
}

.black-key:hover {
    background-color: #b30b91;
    transition: background-color 0.2s;
}

.white-key:active {
    background-color: #fcb1e1;
}

.black-key:active {
    background-color: #a81b8c
;
}

button {
    background-color: #cf00a6;
    outline: 1px solid black;
}

.container{
    background-color: #f662d5;
    border-radius: 5px;
    padding:1em;
    box-shadow: #82086a 2px 5px;
    margin-bottom:1em;
    width:40%;
}
.controls {
    display: flex;
    width: auto;
    padding: 5px;
    background: #f662d5;
    border-radius: 5px;
    box-shadow: #82086a 2px 5px;
    justify-content: center;
    align-items: center;
    margin: auto;
    white-space: nowrap;
}

.controls div {
    margin: 10px 0;
}

.controls label {
    display: block;
    margin-bottom: 5px;
}

.controls input[type="range"] {
    width: 200px;
}