/*
defining the piano, its keys and hover styles
 */

.piano {
    display: flex;
    justify-content: center;
    padding: 20px;
    min-height: 220px;
    margin: auto;
}

.white-key {
    width: 60px;
    height: 200px;
    background-color: #ff82d3;
    border: 1px solid #333;
    z-index: 1;
    margin: 0;
}

.black-key {
    width: 40px;
    height: 120px;
    background-color: #82086a;
    margin: 0 -20px;
    /* negative margin to overlap with white keys */
    z-index: 2;
}
.pink-txt{
    color: #ff00aa;
    font-style: oblique;
}
.title-txt {
    text-align: center;
    color: #ff00aa;
    font-style: oblique
}
.white-key:hover {
    background-color: #ffc2e9;
}

.black-key:hover {
    background-color: #b30b91;
}

.white-key:active {
    background-color: #fcb1e1;
}

.black-key:active {
    background-color: #a81b8c
;
}

button {
    background-color: #ffc2e9;
}

.container{
    background-color: #e20cb3;
    border-radius: 5px;
    padding:1em;
    margin-bottom:1em;
}
.controls {
    margin: auto;
    padding: 15px;
    background: #e20cb3;
    border-radius: 5px;
    box-shadow: #82086a 2px 5px;
    text-align: center;
    width: 50%;
}

.controls div {
    margin: 10px 0;
}

.controls label {
    display: block;
    margin-bottom: 5px;
}

.controls input[type="range"] {
    width: 200px;
}